* {
	transition: all 0.5s;
}

body {
	margin: 0;
	font-family: sans-serif;
	/* background-color: white; */
}




/* Polygon styles
*/



.svg-polygon {

	width: 100vw;
	height: 99vh;

	.viewBox {
		x: -100%;
		y: -100%;
		width: 200%;
		height: 200%;
		fill: url(#pattern-grid);
	}

	.grid {
		stroke: teal;
		fill:none;
		stroke-width: 1px;
	}

	g.show-markers path {
		marker-start:url(#markerStart);
		marker-end:url(#markerEnd);
		marker-mid:url(#wedge);
	}

	/* grid & markers */
	.origin { fill:transparent ; stroke:black }
	marker {
		stroke-width: 5;

		.marker-start  { fill:lightgreen ; stroke:green }
		.marker-end    { fill:pink ; stroke:red }
		.marker-mid    { fill:yellow ; stroke:orange }
	}

}/* svg-polygon */



#polygon-group {
	--start-colour: orange;
	--opacity: 0.5;


	path
	{
		stroke: lch(from var(--start-colour) l c calc(h + var(--degrees)) / 1) ;
		fill: lch(from var(--start-colour) l c calc(h + var(--degrees)) / var(--opacity)) ;
		&:hover {
			stroke-width: 5px;
			stroke-dasharray: 50px 50px;
		}
	}


	&.evenodd path {
		fill-rule: evenodd; /* fill-rule: nonzero  */
	}

	&.ant-crawl:hover {
		stroke-width: 5px;
		stroke-dasharray: 50px 50px;
		animation-name: ant-crawl;
		animation-duration: 1s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction:normal;
	}


}






@keyframes ant-crawl {
	from {
		stroke-dashoffset: 0px;
	}

	to {
		stroke-dashoffset: 100px;
	}
}