body {
	margin: 0;
	font-family: sans-serif;
	/* background-color: white; */
}




/* Star styles
*/

svg.star {

	width: 100vw;
	height: 99vh;

	.viewBox {
		x: -100%;
		y: -100%;
		width: 200%;
		height: 200%;
		fill: url(#pattern-grid);
	}

	.grid {
		stroke: teal;
		fill:none;
		stroke-width: 1px;
	}

	path {

		stroke: #ff0;
		fill: #ff04;
		stroke-width: 1;

		/* mix-blend-mode:color; */

		/* stroke-dasharray: 2 7;  */
		/* stroke-linecap: round; */
		/* stroke-linejoin: bevel; */
	}

	g.show-markers path {
		marker-start:url(#markerStart);
		marker-end:url(#markerEnd);
		marker-mid:url(#wedge);
	}

	path
	{
		stroke: lch(from var(--start-colour) l c calc(h + var(--degrees)) / 1) ;
		fill: lch(from var(--start-colour) l c calc(h + var(--degrees)) / 0.5) ;
	}


	.evenodd path {
		fill-rule: evenodd; /* fill-rule: nonzero  */
	}


	/* grid & markers */
	.origin { fill:transparent ; stroke:black }
	marker {
		stroke-width: 5;

		.marker-start  { fill:lightgreen ; stroke:green }
		.marker-end    { fill:pink ; stroke:red }
		.marker-mid    { fill:yellow ; stroke:orange }
	}

}/* svg.star */


#star-group {
	--start-colour: orange;
}

