@import "../[html-common]/style/html-common.css";
@import "./color-scheme.css";
@import "./heading.css";
@import "./link.css";


:root {
	--project-colour: orangered;
}



/*
**	main grid layout
*/



main {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin:1ex;	border-radius:1ex;
	&>* {
		margin:inherit;
		border-radius:inherit;
		grid-column-start: span 2;
	}

	.limit-height {
		max-height:30em;
		overflow-y: scroll;
	}
}

.no-grid {
	display:unset;
}


@media (orientation: landscape) {
	main {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		&>* { grid-column-start: span 2; }
	}
}

@media (orientation: portrait) {
	main {
		grid-template-columns: 1fr 1fr ;
	}
}


/*
** Elements & Colours
*/

pre {		/* treat these like markdown */
	--element-colour: whitesmoke;
	white-space: pre-line;
	padding: 2em;
	border-radius: 3em / 2em;
	&::before {
		display:block;
		position:relative;
		top:-1ex;
		/* left:-1em; */
		font-size:xx-large;
		content: '🗨';
	}

	q {
		display:inline-block;
		padding:1em;
		margin:1em;
		white-space: pre-line;
	}
}




textarea {

	width:95% ;
	width:stretch;		/* not working in firefox??? */
	display:block;
	height: fit-content;
	min-height:7rlh;
}

output#pageLog {
	display: block;
	white-space: pre;
	width:90%;
	height:auto;
	min-height:5rlh;
	border: 1ex silver inset;
	padding:1em;
}





/* table styles
*/
table {
	border-collapse: collapse;
	border:0.1rem solid black;
}
th, td {
	padding: 0.1rem 1rem;
	border-style: solid;
	border-width: 0.1rem 0rem;
	border-color: black;
}
th {
	font-weight:normal;
	background-color: silver;
}





body[onload]::before {
	position:absolute;
	font-family: monospace;
	top:0ex;
	color: dimgrey;
	content: 'onload=' attr(onload) ;
}





/*
**	Miscellaneous
*/





.pretty {
	div		{ --colour: dodgerblue; }
	p		{ --colour: plum; }
	section	{ --colour: springgreen; }
	aside	{ --colour: aqua; }

	div, p, section, aside {
		border: 2px solid var(--colour);
		background-color: hwb(from var(--colour) h w b / 0.3);
	}

}


[type=disabled] {
	max-height: 12em;
	overflow-y: scroll;
	background:
		repeating-linear-gradient(
			135deg,
			#999a 0px,
			#999a 10px,
			#fffa 10px,
			#fffa 20px
		);
}

