@import "../[html-common]/style/html-common.css";
@import "./style/main-grid.css";
@import "./style/elements.css";
@import "./style/color-scheme.css";
@import "./style/form.css";
@import "./style/header.css";
@import "./style/typography.css";


:root {
	--project-colour: orangered;
	--project-accent: hsl(from var(--project-colour) calc(h + 180.00) s l / alpha);
	--project-scheme-light: white;
	--project-scheme-dark:  black;
	--project-panel-colour: silver;

	--gap: var(--project-base-length);
}


@property --project-base-length {
	syntax: "<length>";
	inherits: true;
	initial-value: 8px;
}