/*
**	color-scheme
*/


html {
	--scheme-colour: white;
	--html-background: hsl(from var(--scheme-colour)  h s 90 / 1);
	--body-background: hsl(from var(--scheme-colour)  h s 99 / 1);
	--accent-colour:   hsl(from var(--project-accent) h s 40 );
	--text-colour:     lab( from var(--scheme-colour) calc(sign(l - 70) * -100) 0 0 / 1);

	color-scheme: light;
	accent-color: var(--accent-colour);
	background-color: var(--html-background);
	body {
		background-color: var(--body-background);
		color: var(--text-colour);
	}
}

html[data-colourscheme=light] {
	--scheme-colour: white;
	--html-background: hsl(from var(--scheme-colour)  h s 90 / 1);
	--body-background: hsl(from var(--scheme-colour)  h s 99 / 1);
	--accent-colour:   hsl(from var(--project-accent) h s 40 );
	color-scheme: light;
}

html[data-colourscheme=dark] {
	--scheme-colour: black;
	--html-background: hsl(from var(--scheme-colour)  h s 10 / 1);
	--body-background: hsl(from var(--scheme-colour)  h s 01 / 1);
	--accent-colour:   hsl(from var(--project-accent) h s 60 );
	color-scheme: dark;
}


.colourscheme-light {
	color-scheme: light;
	--scheme-colour: var(--project-scheme-light);
	background-color: hsl(from var(--scheme-colour)  h s 99 / 1);
	--text-colour:     lab( from var(--scheme-colour) calc(sign(l - 70) * -100) 0 0 / 1);
	color: var(--text-colour);
}

.colourscheme-dark {
	color-scheme: dark;
	--scheme-colour: var(--project-scheme-dark);
	background-color: hsl(from var(--scheme-colour)  h s 01 / 1);
	--text-colour:     lab( from var(--scheme-colour) calc(sign(l - 70) * -100) 0 0 / 1);
	color: var(--text-colour);
}




html[data-colourscheme=rainbow] {
	color-scheme: light;
	/* --html-background: var(--light-html); */
	body {
		--body-background: var(--light-body);
		color: var(--light-text);
	}

	animation-name: rotate-colour;
	animation-duration: 5s;
	animation-iteration-count:	infinite;
	animation-direction: alternate;

}


html[data-colourscheme=disco] {
	color-scheme: dark;
	/* --html-background: var(--light-html); */
	body {
		--body-background: var(--dark-body);
		color: var(--dark-text);
	}

	animation-name: rotate-colour;
	animation-duration: 5s;
	animation-iteration-count:	infinite;
	animation-direction: alternate;

}


@keyframes rotate-colour {
	0%		{	background-color: hsl(0 50 50);		}
	25%		{	background-color: hsl(90 50 50);		}
	50%		{	background-color: hsl(180 50 50);	}
	75%		{	background-color: hsl(270 50 50);	}
	100%	{	background-color: hsl(360 50 50);	}
}




a {
	color: color-mix(in srgb, var(--project-colour) 50%, var(--text-colour));
	text-decoration: underline 1px dotted;

	&:hover {
		color: var(--accent-colour);
	}
}