/*
**	font-family
*/

.serif		{ font-family:	serif;		}
.sans-serif	{ font-family:	sans-serif;	}
.monospace	{ font-family:	monospace;	}
.cursive	{ font-family:	cursive;	}
.fantasy	{ font-family:	fantasy;	}
.emoji		{ font-family:	emoji;		}

/* Emoji
I'm sure I found this in one version of the kiwix docs, but the latest download doesn't include it.
Can't find any online references to it at the moment either.
Appears to work in firefox & chrome though; test/use with with caution.
*/