/*
**	main grid layout
*/

main {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin:1ex;
	border-radius:1ex;


	&>* {
		margin:inherit;
		/* border-radius:inherit; */
		grid-column-start: span 2;
	}



	.limit-height {
		max-height:30em;
		overflow-y: scroll;
	}
}

.no-grid {
	display:unset;
}


@media (orientation: landscape) {
	main {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		&>* { grid-column-start: span 2; }
	}
}

@media (orientation: portrait) {
	main {
		grid-template-columns: 1fr 1fr ;
	}
}
