
html {
	font-size: calc(2 * var(--project-base-length));
	/* this is causing problems... */

	/* font-size: 16px; */
	/* font-size: calc(2 * var(--project-base-length)); */
}



h2 {
	border-bottom: 1px dotted silver;
	height:1.6em;
}




/*
a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
} */



.fs-xx-small	{ font-size: xx-small; }
.fs-x-small		{ font-size: x-small; }
.fs-small		{ font-size: small; }
.fs-medium		{ font-size: medium; }
.fs-large		{ font-size: large; }
.fs-x-large		{ font-size: x-large; }
.fs-xx-large	{ font-size: xx-large; }
.fs-xxx-large	{ font-size: xxx-large; }